sudo: required
services:
  - docker
language: java
dist: bionic
jdk:
  - openjdk14
cache:
  directories:
    - "$HOME/.m2"
env:
  global:
    - DOCKER_IMAGE=armkom/rso-image-upload-api:1.0.0-SNAPSHOT-$TRAVIS_JOB_NUMBER
    - secure: AF66tXojadwRItw3uHpOIEVVOCWv1aBcQWpT7dEXIUs1jtPPHkt3qKA+pH6MDS+HoyObTWTBO+fwiUobESO5iitAialNgapns84cy5h45NI7MtLfXkwqnxQqnmuVLkN1NVNwld3eL2gL/fo72KrZHY7uilPiBY0QCsx6CRvTggnz4FM91IjeKlkaVs8lyh93cHo6iFb27K/cNzyL3d88KqGdz//VjQL3+/54lRPyLG8eOmZaarKmQV9TmaCsvrPrSGm9iPvpzcOGMFQcQcIRrdk4KVDxMHXXrhCbwm6ey25Ky9JHMq/+AD3l4dXkLJMb6FkKaf68T7njK9CPmCkf6a9TaTKzK/RrwZT3w4yoD98xxPJ1qB89Rpiv9yk+Jt9T2Bar4eVr+nXbTcjkzYsQsLtt2AqUD5am/rsUmUeYWrkWb7cHCU6hwOk6DleYs44ZCZ5iXdFFL2cHDA2OU5YvbMOzKV/yl6T/Rg/Kp8uKMOC4kywPSmoRvk8e6hlMbE6Ttlh6ZtwdJtsx+CbR+JgCFV++XJ8ePQLhyNeleKPi4oaUNH6yXAqHqcCKGjxxyNmLtNZ0wuO38oGWXPWXoGwn9oD0Oygc+CWGS0qi7KPZKs1O5dm+k+6m+pCXGJhuivZQ2loHR5wrqvZez/CPgeXpc31dfUajPMZcI4HppbYLBc0=
    - secure: aTx4Tf5sqbYv4MA+qaa2Q5QUba++YVJVUkeuxESIok8fbxtzxvEbZLoQFn04Uz+55GQ3OtXi/bPfzLo5jsTMPkLZAsv0Ujt8g4wMfTbr2iKcf7gK8OnIIp1fjT8P17xXKmqnXOjw1Zu+2cqJ7pl3HSsQEBDc52cBhVMvGxKs4Pg7JDFCc7MfCXQkKRUkyzSlj79Vpyc43310WjTqi/i418R23m1wXgruMXODUMV49CjVqtbqa4k34aka40FtLcPrhwi4aNZPUctdLS6DF8oGwFIEqSIlnmPxO0ixIEMHnd7WvWYGkfyCAADy/NnSu3TLpTJXVEWcvCx61hXji/GujfdxQVnuqZO+y1UvITfX4keth4Jb5znB3Sj1m060/mi/k0ZuBsjCj6hiGHu3vpyLDTiD2p3gxoeQS0sV3P3J/ET9B/9nMwzJwCWikJEsouar5LsgwT/o8koaChStr07la3L6qmtwsa18QVf6NskuSG8W+eaf4hDZLzQrpD36u3IAm7IXRsc7ZmnjmImsJLclW/zKX2T/sSz2lh4t6O7Z8xt0pdRiFXQG8pWyOVjbM8wQe/D8B8wstmShr3M8YZYv87iFfXhmZiN+U4PvJp41QybZ+lV5w0YShB03wiYezd9ArSD3HfMCrAUcUUOcKj8gaUX2O/fkR1E2Ari2CK2bKC8=
script:
  - mvn clean package -U
  - docker build -t "$DOCKER_IMAGE" .
after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push "$DOCKER_IMAGE"