apiVersion: apps/v1
kind: Deployment
metadata:
  name: rso-image-upload-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rso-image-upload
  template:
    metadata:
      labels:
        app: rso-image-upload
    spec:
      containers:
        - image: armkom/rso-image-upload-api:1.0.0-SNAPSHOT-6.1
          name: rso-image-upload
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://kandula.db.elephantsql.com:5432/ibqchmnt
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: ibqchmnt
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-pass
                  key: KUMULUZEE_DATASOURCES0_PASSWORD
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: rso-image-upload
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: rso-image-upload